.theList{
  border:1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.divlist{
  border:1px solid black;
  width:10%;
  padding: 20px;
  margin: 10px;
}

.divlist li{
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.divlist li p{
  min-width: 100px;
}

.picList{
  width:50px;
  height: 50px;
}

.card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
  width: 300px;
}

.card-front {
  background-color: #f5f5f5;
  padding: 20px;
  transition: transform 0.5s;
}

.card-back {
  background-color: #fff;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.pres{
  border:1px solid black;
}



.card h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card p {
  margin: 0 0 10px;
}

.card button {
  background-color: #4caf50;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #357a38;
}

.card button.close {
  background-color: #f44336;
  margin-top: 10px;
}

.card button.close:hover {
  background-color: #d32f2f;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}



.explain_accordeon {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  height: 0px;
  transition: height 1s ease;
}

.explication h2 {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.explain_accordeon p {
  padding: 10px;
  margin: 0;
}

.explain_accordeon.expanded {
  border: 1px solid #aaa;
  height: auto;
  transition: height 1s ease;
}

.explain_accordeon.expanded h2 {
  background-color: #eaeaea;
}